@media screen and (max-width: 130ch) {

    header{
        margin-bottom: 10vh;
    }

    .collapse-navbar{
        width: 80%;
    }

    .hero-wrapper{
        flex-direction: column;
    }

    .hero-text-wrapper{
        margin-bottom: 5vh;
        width: 90%;
    }

    .container{
        width: 90%;
    }

    .line{
        margin-top: 10vh;
    }

    .div-cv, .projects-div, .contact-div{
        width: 100%;
    }

    .div-cv{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .cv-img-div{
        margin-bottom: 5vh;
    }

    .cv-text-div{
        width: 90%;
    }

    .table-projects{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .box-project{
        width: 90%;
    }

    .box-contact{
        width: 100%;
    }

}